* {
	margin: 0 !important;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #f7f7f7;

}

.navbarContainer {
	position: relative;
	width: 100%;
	height: 140px;
	top: 0px;

	background: #000000;
	/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.storebrand {
	position: absolute;

	right: calc(50% + 300px);
	top: 25px;

	width: 250px;
	height: 65px;

	display: flex;

	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;

	text-decoration: none;

	&>h1 {

		font-size: 26px;
		color: white;
		font-weight: 600;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: row;

		cursor: pointer;
	}
}

.searchbarContainer {
	position: absolute;
	width: 500px;
	height: 40px;
	left: calc(50% - 500px/2);
	top: calc(30px);

	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 55px;
}

.searchButton {
	position: absolute;
	width: 50px;
	height: 40px;
	right: 0px;
	top: calc(50% - 40px/2);

	background: #202225;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 55px 55px 0px;

	outline: 0px;
	border: none;
}

#searchbarInput {
	position: relative;
	width: 100%;
	height: 100%;
	left: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;

	background-color: transparent;
	outline: 0px;
	border: none;
	color: #000000;
}

.navbar {
	position: absolute;

	display: flex;
	width: 100%;
	height: 45px;
	left: 0px;
	bottom: 0px;
	align-items: center;
	justify-content: center;
	background: transparent;
	/*box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);*/
}

.navbarButton {
	margin: 1px;

	position: relative;
	width: 165px;
	height: 36px;

	display: flex;
	font-weight: 600;
	font-size: 14px;
	line-height: 35px;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #ffffff;
	background-color: #222222;

	text-decoration: none;
	outline: 0px;
	border: none;
}

.navbarButton:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: 800;
}

.cartContainer {
	position: absolute;
	width: auto;
	height: 100%;

	background-color: transparent;
}

.buttonContainer {
	position: absolute;

	width: auto;
	height: 34px;
	top: 32px;
	left: calc(50% + 300px);
	gap: 1.5rem;
}

.horizontalAlign {
	display: flex;
	align-items: stretch;
}

.topbarButton {
	position: relative;
	text-decoration: none;
	width: auto;
	height: 32px;
	cursor: pointer;
}

.topbarButton p {
	position: relative;
	left: 10px;
	top: 5px;
	width: auto;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
}

.topbarButtonImg {
	position: relative;
	width: auto;
	height: 100%;
	margin: auto auto auto auto;
	text-align: center;
}

.cartIcon {
	position: absolute;

	width: auto;
	height: 100%;

	background-color: transparent;
}

#cartText {
	position: absolute;

	left: 15px;
	top: -10px;

	width: 1.5rem;
	height: 1.5rem;

	font-size: 14px;
	font-weight: 1000;

	border-radius: 100%;

	display: flex;

	align-self: center;
	justify-content: center;
	align-items: center;


	color: #FFFFFF;
	background-color: rgba(255, 0, 0, 0.863);
}

@keyframes cartRotateAnimation {
	0% {
		transform: rotate(-5deg);
	}

	50% {
		transform: rotate(5deg);
	}

	100% {
		transform: rotate(-5deg);
	}
}

.cartContainer:hover {
	animation: cartRotateAnimation 500ms infinite
}

#bannerContainer {
	position: relative;
	width: 100%;
	height: 750px;
	top: 10px;

	background: #D9D9D9;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#spanFilterContainer {
	position: relative;
	display: flex;
	justify-content: center;
}

#productFilterContainer {
	position: relative;

	width: 250px;
	height: 100%;

	background-color: #000000;
}

.productFilterContainer {
	width: 250px;
	background-color: transparent;
}

.filterDiv {
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;

	border: 1px solid #e4e4e479;
}

.filterDiv div {

	position: relative;
	display: flex;
	top: calc(50% - 75%/2);
	left: 15px;
	width: 20%;
	height: 75%;

	margin-top: auto;
	margin-bottom: auto;

	background-color: transparent;
	color: #000000c5;
	justify-content: left;
	align-items: center;

	font-size: 22px;
	font-weight: 600;

}

.divSeparadorHorizontal {
	/* abajo */
	width: 100%;
	height: 4px;

	background-color: transparent;
}

.divSeparadorVertical {
	/* costado */
	width: 35px;
	height: auto;

	background-color: transparent;
}

#productsContainer {
	height: 400px;

	display: grid;
	grid-template-columns: repeat(5, 200px);
	grid-template-rows: repeat(4, auto);
	gap: 15px;
	background-color: transparent;
	justify-content: center;
}

.productoFrame-type1 {
	width: 100%;
	height: 100%;

	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #bdbdbda4;

	border-radius: 6px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.productSeparador-type1 {
	width: 100%;
	height: 12px;
}

.productImage-type1 {
	position: relative;
	display: flex;
	margin: auto;
	top: 4px;
	left: 4px;
	width: 190px;
	height: 190px;

	border: none;
	outline: none;
}

.productImageFull {
	width: 100%;
	height: 100%;
}

.productTitle-type1 {

	position: relative;
	left: 10px;
	top: 0px;

	width: calc(100% - 20px);
	height: auto;

	font-size: 15px;
	font-weight: 500;

	color: #000000;
	background-color: transparent;
}

.productStock-type1 {
	position: relative;
	display: flex;

	left: 10px;
	bottom: -4px;

	width: calc(100% - 20px);
	height: auto;

	justify-content: left;
	align-items: center;

	font-size: 13px;
	font-weight: 600;
	background-color: transparent;
}

.productStockDisp-type1 {
	color: #00c42a;
}

.productPocoStock-type1 {
	color: #df8600;
}

.productNostock-type1 {
	color: #cf0000;
}


.productPrice-type1 {
	position: relative;
	width: 100%;
	height: 24px;
	top: 4px;
	font-size: 17px;
	font-weight: 600;
	background-color: transparent;

	color: #000000;
	left: 10px;
}

.cartContainer-type1 {
	position: relative;
	display: flex;

	left: 10px;
	bottom: 20px;

	width: calc(100% - 20px);
	height: 10px;

	justify-content: left;
	align-items: center;

	font-size: 17px;
	font-weight: 600;
	background-color: transparent;
}

.productAddCart-type1 {
	position: absolute;
	right: 0px;

	width: 35px;
	height: 35px;

	background-color: #ffffff;


	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 4px;

	border: 1px solid #bdbdbda4;

}

.productAddCart-type1:hover {
	border: 1px solid #35c721;
}

.fullSize {
	width: 26px;
	height: 26px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}



.container-top {
	display: flex;
	justify-content: center;
}

.uniqueProductTitle {
	width: 900px;
	height: 40px;
	font-size: 28px;

	margin-left: auto;
	margin-right: auto;
}

.uniqueSeparador {
	width: 100%;
	height: 50px;
}

.uniqueSpanContainer {

	position: relative;

	display: flex;

	width: 600px;
	height: 600px;

	justify-content: center;

}

.uniqueProductContainer {

	position: relative;
	width: 300px;
	height: 100px;
}

.uniqueProduct-image {

	position: relative;
	width: 600px;
	height: 600px;
	left: -75px;
	border: #000000;
	outline: none;
}

.inputDetailButton {
	width: 44px;
	height: 44px;
	font-size: 26px;
}

.itemDetailContainer {

	display: flex;
	width: 100%;

	height: auto;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	gap: 50px;

	&>.holder {
		width: 450px;
		height: 450px;

		&>img {
			width: 450px;
			height: 450px;
		}
	}
}

.detailInfoContainer {

	position: relative;
	display: flex;
	flex-direction: column;

	&>button {
		background-color: #000000;
		border: none;
		color: white;
	}

	&>h2 {
		font-size: 24px;
		font-weight: 700;
	}

	&>.itemDetailStockType {
		position: absolute;
		bottom: 100px;
		display: flex;
		font-size: 20px;
		font-weight: 500;
	}

	&>.itemDetailProductPrice {
		position: absolute;
		bottom: 55px;
		display: flex;
		font-size: 32px;
		font-weight: 700;
		width: 250px;
		height: 50px;
	}

	&>span {
		position: absolute;
		bottom: 0px;
		display: flex;

		gap: 15px;
		width: 350px;

	}
}

.itemDetailInputText {
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.itemDetailAddToCart {
	background-color: #000000;
	border: none;
	width: 185px;

	&>p {
		font-size: 16px;
		color: white;
	}
}

#root {
	display: flex;
	gap: 25px;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#root>p {

	font-size: 26px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 600;
}

.checkoutContainer {
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.checkoutRight {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.checkoutComponent {
	position: relative;
	width: 800px;

	&>h2 {
		font-size: 20px;
	}

	&>img {
		width: 150px;
		height: 150px;
	}

	&>h2 {
		position: absolute;
		left: 155px;
		top: 5px;
		width: calc(100% - 160px);
	}

	&>h3 {
		position: absolute;
		font-size: 20px;
		font-weight: 600;
		left: 155px;
		top: 120px;
	}
}

.horizontal {
	display: flex
}

.endCheckout {
	display: flex;
	justify-content: center;
    align-items: center;
	text-decoration: none;
	background-color: #06e736;
	width: 220px;
	height: 40px;
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	font-size: 18px
}